.marquee {
  white-space: nowrap;
  z-index: 9999;
}

.marquee span {
  display: inline-block;
  margin-inline: 2rem;
  animation: marque-animation linear infinite 100s;
}

@keyframes marque-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
